@page "/"
@using BlazorBootstrap
@inject NavigationManager NavManager
@inject IJSRuntime _jsRuntime;

<PageTitle>MDR Home</PageTitle>

<div class="top-bar">

   <div class="tb-button">
            <a class="tb-link" href="https://ecrin.org/" target="_blank">
            <span id="link-ecrin" class="link-text">ECRIN website</span>
            </a>
        </div>
    <div class="tb-button">
        <a class="tb-link" href="/About" target="about">
            <span id="link-about" class="link-text">About the MDR</span>
            </a>
        </div>
    <div class="tb-button">
        <a class="tb-link" href="/Disclaimer" target="disclaimer">
            <span id="link-disclaimer" class="link-text">Legal Disclaimer</span>
            </a>
        </div>
    <div class="tb-button">
        <a class="tb-link" href="/Guide" target="guide">
            <span id="link-guide" class="link-text">User Guide</span>
            </a>
        </div>
    <div class="tb-button">
        <a class="tb-link" href="/Contact" target="contact">
            <span id="link-contact" class="link-text">Contact Us</span>
            </a>
        </div>
    </div>

<div id="body-outer">
    <div id="body-main">
        <div class="jumbotron jumbotron-fluid">
            <div class="jumbo-flex">
                <div id="jumbo-pic">
                    <img src="/images/jumbo-pic_larger.png" alt="metadata graphic" />
                </div>
                <div id="jt-text">
                    <h1 class="jt-main"><b>Clinical Research</b></h1>
                    <h1 class="jt-main"><b>Metadata Repository</b></h1>
                    <p class="jt-sub">
                        <i>
                            A global resource for discovering clinical studies
                            and associated resources and material
                        </i>
                    </p>
                </div>
            </div>
        </div>
        <div class="text-flex">
            <div id="text-content">
                <div class="expl-div">
                    <p class="expl-text">
                        <b>The clinical research metadata repository (MDR)</b>,
                        is a searchable database of all registered clinical studies,
                        together with links to the source registry pages, the results entries
                        or results summary files, linked papers, protocols, data collection
                        forms and many other related documents, and data sets,
                        whenever those objects are available.
                    </p>
                    <p class ="expl-text">
                        For data sets, which are most often under controlled access,
                        links may be to web pages with details of the application process for access.
                    </p>
                </div>
               
                <div class="expl-div">
                    <p class="expl-text">
                        <b>Discovering studies and objects within the MDR</b> can be done by searching for
                        specified words and terms or by using specific study identifiers.
                        Searches can be refined by various filters – for example by study type
                        or status, by linked object type, or by phase or start year.
                    </p>
                    <p class="expl-text">
                        Search results can also be exported as JSON or CSV files.
                        More complete details can be displayed (and printed) for any of the selected studies.
                    </p>
                </div>

                <div class="expl-div">
                    <p></p>
                    <span class="expl-text">
                        <b>For more detailed help in using the system</b> please use the 'User Guide' link above,
                        or, <b><i>on all other pages</i></b>, please use the
                    </span>
                
                    <div style="display: inline-block" class="black-bg-text">
                        <img height="14" width="18"
                             src="/icons/question-mark-sign-icon.svg"
                             alt="question mark icon" />
                        <span class="link-text">Guide</span>
                    </div>
                    <span class="expl-text">link at the top right of the screen.</span>
                    <br /><br />
                    <span class="expl-text">
                        <b>For more detailed information about the system</b> please use the 'About the MDR' link above,
                        or, <b><i>on all other pages</i></b>, please use the
                    </span>
                    <div style="display: inline-block" class="black-bg-text">
                        <img height="14" width="18"
                             src="/icons/information-mark-sign-icon.svg"
                             alt="question mark icon" />
                        <span class="link-text">About</span>
                    </div>
                    <span class="expl-text">link at the top right of the screen.</span>
                    <p></p>
                </div>
                <div>
                    <p class="expl-text">
                        Currently (as of October 2023) the MDR includes details on <span class="red-text">800,000 studies</span> and, including all types
                        of digital object (all registry entries, papers, documents and data sets, etc.)
                        on <span class="red-text">1.3 million digital objects</span>.
                    </p>
                </div>
                <div>
                    <h2>Trials by start year</h2>
                    <BarChart @ref="trialsByStartYearChart" Width="800" Class="mt-4 mb-5"/>
                </div>
                <div>
                    <h2>Trials by type</h2>
                    <BarChart @ref="trialsByTypeChart" Width="800" Class="mt-4 mb-5"/>
                </div>
            </div>
            <div id="arrow-area">
                <div class="rt-arrow-button">
                    <a href="/Search" target="search" class="link-as-large-button" >
                       Search the MDR >>>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    private BarChart  trialsByStartYearChart = default!;
    private BarChartOptions  trialsByStartYearChartOptions = default!;
    private ChartData trialsByStartYearChartData = default!;
    
    private BarChart  trialsByTypeChart = default!;
    private BarChartOptions  trialsByTypeChartOptions = default!;
    private ChartData trialsByTypeChartData = default!;
    
    private Random random = new();
    
    void NavigateToSearch()
    {
        NavManager.NavigateTo("/Search");
    }  

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _jsRuntime.InvokeVoidAsync("setWindowName", "home");
            await trialsByStartYearChart.InitializeAsync(trialsByStartYearChartData, trialsByStartYearChartOptions);
            await trialsByTypeChart.InitializeAsync(trialsByTypeChartData, trialsByTypeChartOptions);
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    protected override void OnInitialized()
    {
        var studiesByTypeDataset = new Dictionary<string, int>
        {
            { "Interventional" , 2 },
            { "Observational" , 3 },
            { "Non" , 4 },
            { "Others" , 5 },
        };
        
        var studiesByStartYearDataset = new Dictionary<string, int>
        {
            { "2022" , 2 },
            { "2023" , 3 },
            { "2024" , 4 }
        };
        
        trialsByTypeChartData = new ChartData { Labels = GetDefaultDataLabels(studiesByTypeDataset), Datasets = GetDefaultDataSets(studiesByTypeDataset) };
        trialsByTypeChartOptions = new BarChartOptions { Responsive = true, Interaction = new Interaction { Mode = InteractionMode.X } };
        
        trialsByStartYearChartData = new ChartData { Labels = GetDefaultDataLabels(studiesByStartYearDataset), Datasets = GetDefaultDataSets(studiesByStartYearDataset) };
        trialsByStartYearChartOptions = new BarChartOptions { Responsive = true, Interaction = new Interaction { Mode = InteractionMode.X } };
    }

    
    #region Data Preparation
    private List<IChartDataset> GetDefaultDataSets(IDictionary<string, int> data)
    {
        return new List<IChartDataset> { GetRandomLineChartDataset(data) };
    }

    private BarChartDataset GetRandomLineChartDataset(IDictionary<string, int> data)
    {
        var c = ColorBuilder.CategoricalTwelveColors[random.Next(12)].ToColor();
        return new BarChartDataset
        {
            Label = "Number of studies",
            Data = GetRandomData(data),
            BackgroundColor = new List<string> { c.ToRgbString() },
            BorderColor = new List<string> { c.ToRgbString() },
            BorderWidth = new List<double> { 2 },
        };
    }

    private static List<double> GetRandomData(IDictionary<string, int> entries)
    {
        return entries.Select(entry => entry.Value).Select(dummy => (double)dummy).ToList();
    }

    private static List<string> GetDefaultDataLabels(IDictionary<string, int> data)
    {
        return data.Select(e => e.Key).ToList();
    }

    #endregion Data Preparation
}

