@implements IDialogContentComponent<string>

<p>A dedfault name for the file is given below. Please edit this name if you wish, before saving (max 60 chars).</p>
<FluentTextArea Rows="1" Cols="60" @bind-Value="@Content"></FluentTextArea>
<p></p>

@code {
    [Parameter]
    public string Content { get; set; } = default!;

}



