@implements IDialogContentComponent<SearchParams>

<p>A default name for the file is given below. Please edit this name if you wish, before saving (max 60 chars).</p>
<FluentTextArea Rows="1" Cols="60" @bind-Value="@Content.storage_name"></FluentTextArea>
<p></p>
<p><i>To do!</i></p>
<!--
<a id="download" class="btn" href="/dl_files/test.csv" download="test.csv"
   role="button" target="=_top">Download</a>
-->


@code {
    [Parameter]
    public SearchParams Content { get; set; } = default!;



}



