@inject IJSRuntime JS

@using System.Text
@using Newtonsoft.Json
@implements IDialogContentComponent<DialogData>

<p>A default name for the file is given below. Please edit this name if you wish, before saving (max 60 chars).</p>
<FluentTextArea Rows="1" Cols="60" @bind-Value="@Content.SearchParams!.storage_name"></FluentTextArea>
<p></p>
<button @onclick="DownloadJson" class="btn">Download JSON</button>
@code {
    [Parameter]
    public DialogData Content { get; set; } = default!;

    private Stream GetFileStream()
    {
        var studies = new List<StudySummary>();
        foreach (var s in Content.BaseSet)
        {
            var study = JsonConvert.DeserializeObject<StudySummary>(s);
            if (study != null)
            {
                studies.Add(study);
            }
        }
        var data = JsonConvert.SerializeObject(studies);
        return GetStreamWithStreamWriter(data);
    }

    private static Stream GetStreamWithStreamWriter(string sampleString, Encoding? encoding = null)
    {
        encoding ??= Encoding.UTF8;
        var stream = new MemoryStream(encoding.GetByteCount(sampleString));
        using var writer = new StreamWriter(stream, encoding, -1, true);
        writer.Write(sampleString);
        writer.Flush();
        stream.Position = 0;
        return stream;
    }
    
    private async Task DownloadJson()
    {
        var fileStream = GetFileStream();
        var fileName = Content.SearchParams!.storage_name + ".json";
        using var streamRef = new DotNetStreamReference(stream: fileStream);
        await JS.InvokeVoidAsync("downloadJsonFile", fileName, streamRef);
    }
}



