h4 {
    font: var(--normal-text);
    color: var(--txt-emph-colour);
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    text-align: left;
}


.sub-heading {
    font: var(--normal-text);
    color: var(--txt-emph-colour);
    font-style:italic;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
    text-align: left;
}

.card-text, .card-label, .fixed-label, .fixed-long-label {
    font: var(--normal-text);
    color: var(--txt-colour);
    margin-bottom: 0;
    text-align: left;
}

.card-text {
    flex: 1 1;
}

.fixed-label {
    flex: 0 0 24rem;
    text-align: left;
}

.fixed-long-label {
    flex: 0 0 48rem;
    text-align: left;
}

.card-label {
    font-weight: bold;
    white-space: nowrap;
    flex: 0 0;
    color: darkslategrey;
}

.card-line {
    width: 100%;
    padding: 0.1rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

.indented-line {
    width: 100%;
    padding: 0.1rem 1rem 0.1rem 6rem;
    display: flex;
    flex-wrap: wrap;
}


.card-spaced {
    justify-content: space-between;
    margin: 0;
}


