#body-outer {
    position: absolute;
    top: 8.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;

}

#body-main {
    background-color: var(--bg-colour);
    overflow-y: scroll;
    max-height: 100%;
}


.s-dets {
    padding: 1.5rem 3rem 3rem 3rem;
}

h3 {
    color: var(--txt-emph-colour);
}

.sub-heading {
    font: var(--normal-text);
    color: var(--txt-emph-colour);
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    text-align: left;
}

.card-text, .card-label, .fixed-label, .fixed-long-label {
    font: var(--normal-text);
    color: var(--txt-colour);
    margin-bottom: 0;
    text-align: left;
}

.card-text {
    flex: 1 1;
}

.fixed-label {
    flex: 0 0 24rem;
    text-align: left;
}

.fixed-long-label {
    flex: 0 0 48rem;
    text-align: left;
}

.card-label {
    font-weight: bold;
    white-space: nowrap;
    flex: 0 0;
    color: darkslategrey;
}

.card-line {
    width: 100%;
    padding: 0.1rem 1rem;

    display: flex;
    flex-wrap: wrap;
}

.indented-line {
    width: 100%;
    padding: 0.1rem 1rem 0.1rem 6rem;

    display: flex;
    flex-wrap: wrap;
}


.card-spaced {
    justify-content: space-between;
    margin: 0;
}


/*
.inline {
    display: inline-block;
}


#countries {
    flex: 0 0 55rem;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
}



.card-spacer {
    flex: 1 1;
}
    */

