#this-control {
    display: flex;
    flex-direction: row;
    justify-content: start
}

.no-wrap-text {
    white-space: nowrap;
}

.page-button {
    height: 1.2rem;
    margin: -0.3rem 0 0 0;
    border: none;
}

    .page-button:hover {
        background-color: lightskyblue;
    }


.num-per-page-button {
    display: flex 0 0;
    height: 1rem;
    line-height: 1;
    margin: -0.1rem 0 0 0;
    border: none;
    padding: 0.1rem;
    text-align: center;
    border-radius: 4px;
}
    .num-per-page-button:hover {
        background-color: lightskyblue;
    }

.greyed {
    color: gray;
    background-color: var(--bg-colour);
}

.active {
    color: whitesmoke;
    background-color: #0078D4;
}

.npp-spacer {
    font-weight: bold;
    margin: -0.3rem 0.2rem 0 0.2rem;
    display: flex 0 0;
}

.small-text {
        font: var(--small-text);
        text-align: left;
        color: var(--txt-colour);
        margin-bottom: 0;
    }

#items-cb-label {
    flex: 0 0 content;
    display: flex;
    padding-right: 0.5rem;
}


#num-per-page-buttons {
    flex: 0 0 content;
    margin-right: 2.5rem;

    display: flex;
    flex-direction: row;

}

#results-buttons {
    flex: 0 0 content;

    display: flex;
    flex-direction: row;
}

#indic {
    flex: 0 0 3.5rem;
    margin: 0 0.1rem 0 -0.1rem;
}

#pb {
    margin-right: 0.4rem;
}

#fb {
    margin-right: -0.4rem;
}

#nb {
    margin-left: 0.2rem;
}

#lb {
    margin-left: -0.4rem;
}
