<div class="filter-line-rev">
    <div>
    <Tooltip Text="Clear all" Position="top">
        <button class="filter-btn" @onclick="() => SetAllCheckboxes(false)">
            <img height="14" width="14"
                 src="/icons/delete-all-icon.svg"
                 alt="clear all icon" />
        </button>
    </Tooltip>
    </div>
    <div>
    <Tooltip Text="Select all" Position="top">
        <button class="filter-btn" @onclick="() => SetAllCheckboxes(true)">
            <img height="14" width="14"
                 src="/icons/double-tick-icon.svg"
                 alt="select all icon" />
        </button>
    </Tooltip>
    </div>
</div>

<div class="filter-line"><FluentCheckbox @bind-Value="v205">Randomised</FluentCheckbox></div>
<div class="filter-line"><FluentCheckbox @bind-Value="v210">Nonrandomised</FluentCheckbox></div>
<div class="filter-line"><FluentCheckbox @bind-Value="v200">Not&nbsp;applicable</FluentCheckbox></div>
<div class="filter-line"><FluentCheckbox @bind-Value="v215">Not&nbsp;provided</FluentCheckbox></div>

@code {

    [Parameter]
    public Action<string>? OnFeedbackChange { get; set; }

    [Parameter]
    public Action<string>? OnSQLChange { get; set; }
    
    bool _v205, _v210, _v200, _v215;

    public bool v205
    {
        get { return _v205; }
        set
        {
            _v205 = value;
            process_state();
        }
    }
    public bool v210
    {
        get { return _v210; }
        set
        {
            _v210 = value;
            process_state();
        }
    }
    public bool v200
    {
        get { return _v200; }
        set
        {
            _v200 = value;
            process_state();
        }

    }
    public bool v215
    {
        get { return _v215; }
        set
        {
            _v215 = value;
            process_state();
        }
    }

    private void process_state()
    {
        if (!_v205 && !_v210 && !_v200 && !_v215)
        {
            OnSQLChange!.Invoke("");
        }
        else if (_v205 && _v210 && _v200 && _v215)
        {
            OnSQLChange!.Invoke("");
        }
        else
        {
            string alloc_sql_string = "";
            alloc_sql_string += _v205 ? ", 205" : "";
            alloc_sql_string += _v210 ? ", 210" : "";
            alloc_sql_string += _v200 ? ", 200" : "";
            alloc_sql_string += _v215 ? ", 215" : "";

            if (alloc_sql_string == "")
            {
                OnSQLChange!.Invoke("");
            }
            else
            {
                OnSQLChange!.Invoke("alloc_id in (" + alloc_sql_string[2..] + ")");
            }
        }
    }

    private void SetAllCheckboxes(bool check_state)
    {
        v205 = check_state;
        v210 = check_state;
        v200 = check_state;
        v215 = check_state;
    }

    public void ClearFilters()
    {
        _v205 = false;
        _v210 = false;
        _v200 = false;
        _v215 = false;
        OnSQLChange!.Invoke("");
    }

    public void SetFilters(string AppliedFilters)
    {
        if (string.IsNullOrEmpty(AppliedFilters))
        {
            ClearFilters();
        }
        else
        {
            if (AppliedFilters.StartsWith("alloc_id in ("))  // it should!
            {
                string Filters = AppliedFilters[13..].Trim(')', ' ');
                string[] selected = Filters.Split(',', StringSplitOptions.TrimEntries);
                for (int i = 0; i < selected.Length; i++)
                {
                    switch (selected[i])
                    {
                        case ("205"): _v205 = true; break;
                        case ("210"): _v210 = true; break;
                        case ("200"): _v200 = true; break;
                        case ("215"): _v215 = true; break;
                    }
                }
            }
            process_state();
            StateHasChanged();
        }
    }

}
